@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'SCoreDream';
}

body {
	background-color: #3a63aa!important;
}

section{
    height: 100vh;
}

#scroll {
	position:fixed;
	z-index: 10;
	right:20px;
	bottom:20px;
	cursor:pointer;
	width:50px;
	height:50px;
	background-color:#ffffff;
	text-indent:-9999px;
	display:none;
	-webkit-border-radius:60px;
	-moz-border-radius:60px;
	border-radius:60px
  }
  
  #scroll span {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-12px;
	height:0;
	width:0;
	border:8px solid transparent;
	border-bottom-color:#3a63aa;
  }
  
  #scroll:hover {
	background-color:#3a63aa;
	transition: 0.2s;
	opacity:1;filter:"alpha(opacity=100)";
	-ms-filter:"alpha(opacity=100)";
  }

/* 메뉴바 */


::selection {
	color: #fff;
	background-color: #7998c8;
}
::-moz-selection {
	color: #fff;
	background-color: #7998c8;
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 0px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 40px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none!important;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #3a63aa !important;
}
.nav-item.active .nav-link{
	color: #212121 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #3a63aa;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}




/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none!important;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background: none!important;
    border: none!important;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
  .product-title{
    top: 10%;
  }
}




/* reveal 효과 관련 css */

.container {
	width: 100%;
}

.demo {
	width: 100%;
	scale: 0.94;
	opacity: 0;
	transition: 0.9s;
	transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
    height: 100vh;
}


section.active {
	opacity: 1;
	top: 0;
	scale: 1;
}



.demo-box{
  position: relative;
  height: 100vh;

}

/* -----끝----- */

.demo-box.catalog {
	width: 80%;
	display: flex;
	margin: auto;
	color: #fff;
}

.demo-box.catalog img {
	height: 70%;
	margin: auto;
	padding: 40px;
}

.demo-box.catalog ul {
	width: 50%;
	height: 70%;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: flex-end;
	padding: 40px;
}

.demo-box.catalog ul li {
	margin: 10px 0;
}

.demo-box.catalog ul li:nth-child(1) {
	font-family: "Montserrat",sans-serif;
	font-weight: bold;
}
.demo-box.catalog ul li:nth-child(2) {
	font-size: 2rem;
	font-weight: bold;
}
.demo-box.catalog ul li:nth-child(3) {
	font-weight: 300;
}

.demo-box.catalog ul li:nth-child(4){
	margin-top: 100px;
}



.demo-box.catalog ul li a {
	margin-right: 20px;
}
.demo-box.catalog ul li a button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #fff;
    background-color: #7998c8;
    cursor: pointer;
  }

.demo-box.catalog ul li a span {
	color: #fff;
	font-size: 0.8rem;
}
  
.demo-box.catalog ul li a button:hover {
    transition: 0.3s;
    background-color: #3a63aa;
  }
  
.mainsect5 div button span {
    color: #fff;
  }




@media (max-width:1086px) {
	.demo-box.catalog {
		width: 100%;
	}
	.demo-box.catalog img {
		height: 60%;
		padding: 20px;
	}
	.demo-box.catalog ul {
		height: 60%;
		padding: 20px;
	}
}

@media (max-width:861px) {
	.demo-box.catalog ul li{
		font-size: 0.8rem;
	}
}

@media (max-width:774px) {

	.demo-box.catalog ul li a button {
		width: 100px;
		height: 40px;
	}
	.demo-box.catalog {
		width: 100%;
	}
	.demo-box.catalog img {
		height: 50%;
		padding: 10px;
	}
	.demo-box.catalog ul {
		height: 50%;
		padding: 10px;
	}
}


/* 첫번째 섹션 코드  +  스크롤 애니메이션 */ 

.company-main {
	background: url(./img/product/product-main2.jpg) no-repeat center center/cover rgba(0, 0, 0, 0.1);
	background-blend-mode: multiply;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.company-main div {
	text-align: center;
	color: #fff;
}

.company-main div h1{
	font-size: 2.5rem;
	font-weight: bold;
}

.company-main div h2 {
	font-size: 1.2em;
	margin-top: 20px;
	letter-spacing: 2px;
	font-weight: normal;
	font-family: "Montserrat",sans-serif;
}

.scrolls {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 80%;
	width: 100%;
  }
  
  .scroll-container {
	position: relative;
	width: 24px;
	height: 24px;
  }
  
  .chevron {
	position: absolute;
	width: 28px;
	height: 8px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 0.5);
	animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
	animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
	animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
	content: ' ';
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	background: #fff;
  }
  
  .chevron:before {
	left: 0;
	transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
	right: 0;
	width: 50%;
	transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
	25% {
	  opacity: 1;
  
	}
	33% {
	  opacity: 1;
	  transform: translateY(30px);
	}
	67% {
	  opacity: 1;
	  transform: translateY(40px);
	}
	100% {
	  opacity: 0;
	  transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
  }
  
  .text {
	display: block;
	margin-top: 75px;
	margin-left: -30px;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
	opacity: .25;
	animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
	to {
	  opacity: 1;
	}
  }

  /* 푸터 */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#313c63;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block;
  margin-bottom: 10px;
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  color:#818a91;
  display:inline-block;
  line-height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



/* ------------------------- */


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


* {
  box-sizing: border-box;
}

.slide-section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
  -webkit-justify-content: center;
    align-items: center;
  -webkit-align-items: center;
  /* background: linear-gradient(-45deg, #f7f9fb, #bdc4dd); */
  background-color: #f7f9fb;
  /* background: url(./img/기하학3.png); */
}

body {
    background-color: #eaeaea;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1200px;
    max-height: 650px;   
    overflow: hidden;
  position: relative;
  box-shadow: 8px 8px 15px rgb(145, 145, 145);
}
.carousel-item.active{
	display: flex!important;
}
.carousel-item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: relative;
    z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
    font-family: 'Montserrat', serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
}

.carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Montserrat', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'SCoreDream';
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
}

.carousel-item--1 .carousel-item__image{
  background-image: url(./img/product/bandy-1.png);
}


.carousel-item--2 .carousel-item__image{
  background: url(./img/지팡이/EL-40S\ 썸네일.png) center/cover;
}

.carousel-item--3 .carousel-item__image{
  background-image: url(./img/요실금팬티/SOOM-F-80CC.png);
}

.carousel-item--4 .carousel-item__image{
  background-image: url(./img/요실금팬티/SOOM-M-130CC.png);
}

.carousel-item--5 .carousel-item__image{
  background-image: url(./img/product/onsocksgray.png);
}

.carousel-item--6 .carousel-item__image{
	background-image: url(./img/product/commingsoon.png);
  }


  

.carousel-item__container{

}

.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family:'SCoreDream';
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
}

.carousel__nav {
    position: absolute;
    right: 60%;
	/* left: 40%; */
    z-index: 2;
    background-color: #fff;
  bottom: 0;
}

.carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
}

.carousel__arrow:hover {
	background-color: #7998c8;	
	transition: 0.35s;
}

.carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
}

.active{
   z-index: 1;
  display: flex;
  visibility:visible;
}

.active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
}



.active .carousel-item__image{ 
transition: 0.6s all ease-in-out;
transform: translateX(0);
}


/* @media (max-width:900px) {
	.carousel {
		max-width: 1920px;
	}
} */

/* reveal 효과 관련 css */

